/* General Styling */
* {
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url("../assets/homepageBackground.png.jpg");
    width: 100%;
    opacity: 0.9;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
}

.logo {
        margin-top: 0px;
        height: 45px;
        width: 45px;
        background-image: url("../assets/Logo.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin: 0 auto 20px;
        border-radius: 50%;
}

.content {
    width: 90%;
    max-width: 300px;
    padding: 20px;
    text-align: center;
    background: rgba(230, 224, 202, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: rgb(120, 39, 39);
    margin-bottom: 20px;
    font-size: 24px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input {
    width: 90%;
    max-width: 300px;
    padding: 8px;
    margin: 8px 0;
    border: 1px solid rgb(128, 84, 84);
    background-color: transparent;
    border-radius: 5px;
    font-size: 14px;
}

form input::placeholder {
    font-size: 12px; /* Reduced font size for placeholder text */
    color: rgb(100, 100, 100);
}

.btn {
    margin-top: 15px;
    padding: 8px 20px;
    background-color: rgb(120, 39, 39);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

a {
    color: rgb(120, 39, 39);
    text-decoration: none;
}

p {
    margin-top: 15px;
    font-size: 14px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .content {
        width: 90%;
    }

    form input {
        width: 90%;
    }
}

@media (min-width: 1200px) {
    .content {
        width: 50%;
    }
}
